include layout.jade

nav.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .navbar-header
        button.btn.btn-navbar.navbar-toggle.collapsed(data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.brand(href='#') Collector
        div#bs-example-navbar-collapse-1.collapse.navbar-collapse.nav-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/admin/painel') Painel
            li
              a(href='/admin/terms') Terms
            li
              a(href='/admin/users_twitter') Users Twitter
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                | Admin 
                span.caret
              ul.dropdown-menu
                li
                  a(href='/admin/users') Users
                li
                  a(href='#') Logout

div.container
  block content_admin


div.footer


